extends ../layouts/common
block content
  h1.text-center Cart
  h2.text-center #{cartLength} item in cart
  

  .container
    .row
      table.table
        thead
          tr
            th(scope='col') PRODUCT
            th(scope='col')
            th(scope='col') PRICE
            th(scope='col') QUANTITY
            th(scope='col') TOTAL
            th(scope='col')
        tbody
          each product in cart
              tr
                td=product.name
                td 
                  img.img-thumbnail(src=product.image, alt='Card image cap', height='200px', width='150px')
                td=product.price
                td
                  form(action="/cart/update/" + product._id, method="post")
                    .form-group
                      input.form-control(type="number", name="countProduct", value=countProducts[x])
                      button.btn.btn-outline-primary.mt-2(type='submit') Edit
                td=product.price * countProducts[x]
                td
                  .d-flex.flex-column  
                    a.btn.btn-outline-danger(href='/cart/delete/' + product._id, role='button') Delete
                  p.d-none=++x
                
                
              

